mat-toolbar {
    background: #0D0D39;
    color: white;
}

mat-toolbar .logo {
    height: 100px;
    /* กำหนดความสูงที่ต้องการ */
    object-fit: contain;
    /* ให้คงสัดส่วน */
    vertical-align: middle;
    /* จัดให้อยู่กึ่งกลางบรรทัด */
}

app-header,
mat-toolbar {
    position: fixed;
    /* ติดบน */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /* ให้ทับเนื้อหาอื่น */
}