<app-header></app-header>

<div class="page-container" *ngIf="game">

    <div class="main-content">
        <button mat-flat-button class="btn-back" (click)="goBack()">
            ย้อนกลับ
        </button>
        <img [src]="game.game_image" alt="{{ game.game_name }}" class="game-img" />

        <div class="info-box">
            <div class="info-header">
                <h1>{{ game.game_name }}</h1>

            </div>

            <p class="game-description">{{ game.description }}</p>

            <div class="game-meta">
                <span>ประเภท: {{ game.category_name }}</span> <span>วันที่วางขาย: {{ game.release_date |
                    date:'dd/MM/yyyy' }}</span>
                <span class="meta-price">ราคา {{ game.price | number }} บาท</span>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <div class="top-games">
            <h3>🔥 เกมขายดี</h3>
            <!-- (click)="loadGameDetail(top.game_id)" -->
            <div *ngFor="let top of topSellingGames" class="top-game-item">
                <img [src]="top.game_image" alt="{{ top.game_name }}">
                <div>
                    <h4>{{ top.game_name }}</h4>
                    <p>{{ top.total_sales }} ขายแล้ว</p>
                </div>
            </div>
        </div>

        <div class="action-buttons">
            <button mat-raised-button class="btn-addcart" *ngIf="status === 'user'" (click)="addToCart(game)">
                <mat-icon>shopping_cart</mat-icon>
                <span>เพิ่มลงตะกร้า</span>
            </button>

            <button mat-raised-button class="btn-buy" *ngIf="status === 'user' && !alreadyPurchased"
                (click)="buyGame(game)">
                <mat-icon>shopping_bag</mat-icon>
                <span>ซื้อเลย</span>
            </button>

            <button mat-raised-button class="btn-bought" *ngIf="status === 'user' && alreadyPurchased">
                <mat-icon>check_circle</mat-icon>
                <span>ซื้อแล้ว</span>
            </button>

            <div *ngIf="status === 'admin'">
                <button mat-raised-button class="btn-edit" (click)="goToEditGame(game.game_id)">แก้ไขเกม</button>
                <button mat-raised-button class="btn-delete">ลบเกม</button>
            </div>
        </div>
    </div>

</div>